/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


global
{
	selection-color: #7A7171;
	color: #484242;
	font-weight: normal;
}
	
s|TextInput{
	skinClass:ClassReference("spark.skins.mobile.TextInputSkin")
}

s|TextArea{
	skinClass:ClassReference("spark.skins.mobile.TextAreaSkin")
}